mixin link-icon(icon)
  svg(xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34")
    if icon === 'devto'
      <path id="devto" d="M18.119,22.38a1.48,1.48,0,0,0-.881-.33H15.917v7.929h1.321a1.449,1.449,0,0,0,.881-.33,1.172,1.172,0,0,0,.44-.991V23.371a1.172,1.172,0,0,0-.44-.991ZM39.669,9H12.331A3.332,3.332,0,0,0,9,12.324V39.676A3.332,3.332,0,0,0,12.331,43H39.669A3.332,3.332,0,0,0,43,39.676V12.324A3.332,3.332,0,0,0,39.669,9ZM20.7,28.67a3.466,3.466,0,0,1-3.668,3.586H13.508V19.7H17.1a3.462,3.462,0,0,1,3.593,3.586L20.7,28.67Zm7.647-6.731H24.3v2.918h2.471V27.1H24.3v2.918h4.047v2.244H23.626a1.531,1.531,0,0,1-1.569-1.494v-9.5A1.531,1.531,0,0,1,23.55,19.7h4.8v2.237Zm7.86,8.755c-1,2.333-2.794,1.872-3.6,0L29.682,19.7h2.471l2.257,8.631L36.654,19.7h2.471L36.207,30.694Z" transform="translate(-9 -9)" fill="#5f4b32"/>
    else if icon === 'github'
      <path id="github" d="M10,115.987a18.6,18.6,0,0,0,.434,4.181,12.443,12.443,0,0,0,1.2,3.251,9.207,9.207,0,0,0,1.943,2.429,11.2,11.2,0,0,0,2.56,1.714,15.1,15.1,0,0,0,3.15,1.079,26,26,0,0,0,3.615.583q1.847.167,4.056.167,2.227,0,4.073-.167a26.227,26.227,0,0,0,3.626-.583,15.681,15.681,0,0,0,3.168-1.079,11.191,11.191,0,0,0,2.578-1.714,9.284,9.284,0,0,0,1.964-2.429,12.2,12.2,0,0,0,1.2-3.251A18.6,18.6,0,0,0,44,115.987a10.2,10.2,0,0,0-2.758-7.133,8.923,8.923,0,0,0,.274-.906,12.4,12.4,0,0,0,.232-1.447,8.1,8.1,0,0,0-.083-2.168,11.516,11.516,0,0,0-.708-2.512l-.25-.049a3.352,3.352,0,0,0-.874.024,9.708,9.708,0,0,0-1.412.3,12.073,12.073,0,0,0-2.078.864,24.135,24.135,0,0,0-2.685,1.6,26.284,26.284,0,0,0-6.668-.666,26.208,26.208,0,0,0-6.651.666,22.6,22.6,0,0,0-2.7-1.6,13.381,13.381,0,0,0-2.054-.864,8.05,8.05,0,0,0-1.429-.291,4.676,4.676,0,0,0-.84-.042,1.455,1.455,0,0,0-.274.059,11.462,11.462,0,0,0-.708,2.512,8.1,8.1,0,0,0-.083,2.168,12.664,12.664,0,0,0,.232,1.447,8.922,8.922,0,0,0,.274.906A10.223,10.223,0,0,0,10,115.987Zm4.174,4.174a5.879,5.879,0,0,1,2.179-4.389,4.334,4.334,0,0,1,1.513-.906,6.575,6.575,0,0,1,1.953-.347c.725-.028,1.422-.021,2.085.017s1.485.09,2.46.156,1.818.1,2.526.1,1.551-.031,2.529-.1,1.8-.118,2.46-.156,1.36-.045,2.085-.017a6.687,6.687,0,0,1,1.953.347,4.366,4.366,0,0,1,1.513.906,5.814,5.814,0,0,1,2.179,4.389,8.215,8.215,0,0,1-.357,2.536,6.367,6.367,0,0,1-.912,1.853,4.535,4.535,0,0,1-1.547,1.273,10.782,10.782,0,0,1-1.929.8,13.909,13.909,0,0,1-2.411.441c-.982.1-1.856.17-2.626.191s-1.749.035-2.935.035-2.165-.01-2.935-.035-1.644-.087-2.626-.191a13.648,13.648,0,0,1-2.411-.441,11.153,11.153,0,0,1-1.929-.8,4.535,4.535,0,0,1-1.547-1.273,6.414,6.414,0,0,1-.916-1.853A8.438,8.438,0,0,1,14.174,120.161Zm17.076-.333c0,1.759.951,3.188,2.127,3.188s2.127-1.426,2.127-3.188-.951-3.188-2.127-3.188S31.25,118.066,31.25,119.828Zm-12.75,0c0,1.759.951,3.188,2.127,3.188s2.127-1.426,2.127-3.188-.951-3.188-2.127-3.188S18.5,118.066,18.5,119.828Z" transform="translate(-10 -101.754)" fill="#5f4b32"/>
    else if icon === 'close'
      <path id="md-close" d="M141,110.4l-3.4-3.4L124,120.6,110.4,107l-3.4,3.4L120.6,124,107,137.6l3.4,3.4L124,127.4,137.6,141l3.4-3.4L127.4,124Z" transform="translate(-107 -107)" fill="#5f4b32"/>
    else
      <path id="link" d="M-6541.251,537.744h-26a4.005,4.005,0,0,1-4-4v-26a4.005,4.005,0,0,1,4-4h26a4.005,4.005,0,0,1,4,4v26A4.005,4.005,0,0,1-6541.251,537.744Zm-9.02-22.984-11.976,11.976,1.972,1.971,11.975-11.975.049,10.99h2.761V511.951h-15.771l-.049,2.809Z" transform="translate(6571.251 -503.743)" fill="#5f4b32"/>

mixin video(project)
  video(preload="none" poster=project.img.src muted loop playsinline)
    source(src=project.videoSrc type="video/webm")
    source(src=project.backupVideoSrc type="video/mp4")

mixin project-template(project)
  if project.headline
    a.project__headline.img-link(href='#' + project.hash)
      .img-link__img-container
        +video(project)
        
      h3 #{project.title}
      p.timeframe #{project.timeframe}

      each tag in project.tags
        short.tag #{tag}
  else
    a.project__small(href='#' + project.hash)
      img(src=project.img.src, alt=project.img.alt)
      h3 #{project.title}
      p.timeframe #{project.timeframe}

      .tags
        each tag in project.tags
          short.tag #{tag}

section#ongoing-section(style="--section-color: var(--green)")
  h2.numbered Ongoing works
  p.tagline
    :markdown-it(inline)
      I've been going all-in on [JAMstack apps](https://jamstack.org) this past year. My foray into [Svelte + Sapper](https://sapper.svelte.dev) was easily my favorite venture; it's just so much simplier than React in my opinion. Also, my heavy frontend focus gave me some [valuable CSS learnings](https://dev.to/bholmesdev/flexbox-diehards-here-s-some-concrete-examples-of-when-css-grid-is-just-better-n7k)!

  .grid
    each project in projects.ongoing
      +project-template(project)

section#complete-section(style="--section-color: var(--red)")
  h2.numbered Complete works
  p.tagline
    :markdown-it(inline)
      I've touched a lot of CS corners these past few years. Web tech was definitely a theme, but I never settled on any frontend framework in particular (Angular's the worst one though 😛). I also found some time for games, whether it be a [virtual tennis match](#32-bit-rackets) or [real life roomba bowling](#roombowling)!

  .grid
    each project in projects.completed
      +project-template(project)

#details-slide-out
  each project, index in projectsFlat
    article(id=project.hash)
      .content
        .macintosh
          h2 #{project.title}
          img(src="/static/macintosh.svg" alt="")
          .macintosh__img-container
            +video(project)

        p.timeframe #{project.timeframe}
        .tags
          each tag in project.tags
            .tag #{tag}

        each link in project.links
          a.link(href=link.href)
            +link-icon(link.icon)
            span #{link.text}

        p.body !{project.body}
  .background
  nav
    a#close-btn(href="#" aria-label="Close project slide out window")
      +link-icon('close')
