<!DOCTYPE html>
- var defaultTitle = "Ben Holmes"
- var defaultDescription = "I'm a web dev, UX freak, and restless tinkerer. Let me teach you the art of building websites!"
- var defaultImage = "https://bholmes.dev/assets/og-images/me.jpg"

include icons

html(lang="en-US")
  head !{slinkit.styles}
    title #{title || defaultTitle}
    link(rel="preload" href="https://use.typekit.net/liz3dnm.css" as="style")
    link(rel="preload" href="/assets/fonts/Atkinson/Atkinson-Hyperlegible-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/assets/fonts/Atkinson/Atkinson-Hyperlegible-Bold.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/assets/fonts/Atkinson/Atkinson-Hyperlegible-Italic.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="/assets/fonts/Atkinson/Atkinson-Hyperlegible-BoldItalic.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.typekit.net/liz3dnm.css")
    link(rel="icon" type="img/jpg" href="/assets/favicon.jpg")
    meta(name='viewport' content='width=device-width,initial-scale=1.0')

    // TODO: automatically generate these at buildtime
    link(rel="modulepreload" href="__client.mjs")
    link(rel="modulepreload" href="__data.mjs")
    link(rel="modulepreload" href="/_layouts/__client.mjs")
    link(rel="modulepreload" href="/_layouts/__data.mjs")

    link(rel="preload" as="fetch" href="/index.html")
    link(rel="preload" as="fetch" href="/work/index.html")
    link(rel="preload" as="fetch" href="/contact/index.html")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@bholmesdev")
    meta(name="twitter:creator" content="@bholmesdev")
    meta(name="description" content=description || defaultDescription)
    meta(property="og:url" content=page.url)
    meta(property="og:image" content=image || defaultImage)
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(property="og:site_name" content="Ben Holmes")
    meta(property="og:title" content=title || defaultTitle)
    meta(property="og:description" content=description || defaultDescription)

  body
    nav#site-navigation

      .jump-to-section__container
        button#jump-to-section__toggle
          span 0
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M128 192l128 128 128-128z"/></svg>
        .jump-to-section__label-container
          p#jump-to-section__label
        ul#jump-to-section__links


      .primary-nav__container
        ul#primary-nav__links
          li
            a(href="/" class=page.url === '/' ? 'active' : '') Me
          li
            a(href="/work/" class=page.url.startsWith('/work') ? 'active' : '') Work
          li
            a(href="/blog/" class=page.url.startsWith('/blog') ? 'active' : '') Blog
          li
            a(href="/contact/" class=page.url.startsWith('/contact') ? 'active' : '') Contact

        button#primary-nav__toggle
          .stripe-top
          .stripe-middle
          .stripe-bottom

    div(data-page=slinkit.page)
      main !{content}
      footer
        .content
          .newsletter
            h2 Woah, there's a newsletter too!
            form(action='https://tinyletter.com/bholmesdev' method='post' target='_blank')
              label(for="email") Email
              input#email(type="email" name="email" placeholder="10xengineer@genius.club" required)
              button.cta-link(type="submit")
                | Yes please, more content
                +icon('send')
          .socials
            .socials__links
              a(href="https://dev.to/bholmesdev" target="_blank" rel="noreferrer" aria-label="Ben's DEV.to blog")
                +icon('devto')
              a(href="https://twitter.com/bholmesdev" target="_blank" rel="noreferrer" aria-label="Ben's Twitter")
                +icon('twitter')
              a(href="https://github.com/holben888" target="_blank" rel="noreferrer" aria-label="Ben's GitHub")
                +icon('github')
            p Follow along with #[strong Ben] for the fun, for the whimsy, and for the love of building websites ♥ 

  | !{slinkit.scripts}