---
import type { MarkdownHeading } from "astro";
import { isMatch } from "./Nav";
import Toc from "./TOC.astro";
import { scope } from "simple:scope";

type Props = {
  headings: MarkdownHeading[] | undefined;
};

const { headings } = Astro.props;
const id = scope("nav");

// Remove trailing slashes
const urlPath = new URL(Astro.request.url).pathname.replace(/\/$/, "") || "/";

type ListItem = { label: string; path: string };
const links: ListItem[] = [
  { label: "Ben", path: "/" },
  { label: "Blog", path: "/blog" },
  { label: "Talks", path: "/talks" },
  { label: "Videos", path: "/videos" },
];
---

<nav-open data-open class="group">
  <nav
    class="group-[[data-open]]:dark:bg-gray-950 sticky top-0 max-w-[100ch] flex gap-6 items-center text-lg py-3 px-5 transition-colors duration-300"
  >
    {headings?.length ? <Toc {headings} /> : null}
    <ul transition:persist id={id} class="flex gap-6 ml-auto items-center">
      {
        links.map((l, idx) => (
          <li style={{ "--idx": idx + 1 }}>
            <a
              data-targets="nav-open.links"
              data-active={isMatch(urlPath, l.path)}
              class="no-underline text-lg block scale-1 dark:text-gray-300 data-[active]:text-white data-[active]:font-bold data-[active]:scale-110 transition-transform spring-5"
              href={l.path}
            >
              {l.label}
            </a>
          </li>
        ))
      }
    </ul>
    <div>
      <button
        data-action="click:nav-open#toggle"
        data-target="nav-open.btn"
        aria-controls={id}
      >
        <div class="stripe stripe-top"></div>
        <div class="stripe stripe-middle"></div>
        <div class="stripe stripe-bottom"></div>
      </button>
    </div>
  </nav>
</nav-open>

<script>
  import { attr, target, targets, controller } from "@github/catalyst";
  import { isMatch } from "./Nav";

  @controller
  export class NavOpenElement extends HTMLElement {
    @attr open = true;
    @target btn!: HTMLButtonElement;
    @targets links!: HTMLAnchorElement[];

    #scrollY = 0;
    #ticking = false;

    #trackScroll() {
      this.#scrollY = window.scrollY;

      if (!this.#ticking) {
        window.requestAnimationFrame(() => {
          this.open = this.#scrollY < 20;
          this.#ticking = false;
        });

        this.#ticking = true;
      }
    }

    #trackLinks() {
      for (const link of this.links) {
        link.toggleAttribute(
          "data-active",
          isMatch(window.location.pathname, link.pathname)
        );
      }
    }

    connectedCallback() {
      document.addEventListener("scroll", this.#trackScroll);
      document.addEventListener("astro:page-load", this.#trackLinks);
    }

    disconnectedCallback() {
      document.removeEventListener("scroll", this.#trackScroll);
      document.removeEventListener("astro:page-load", this.#trackLinks);
    }

    toggle() {
      this.open = !this.open;
      this.btn.toggleAttribute("aria-expanded", this.open);
    }
  }
</script>

<style>
  button {
    height: 20px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
  }
  button::before {
    content: "";
    position: absolute;
    inset: -0.3rem;
    z-index: -1;
    border-radius: 0.7rem;
    background-color: var(--bg-blur);
  }

  .stripe {
    height: 3px;
    width: inherit;
    background-color: currentColor;
    transition: transform 0.2s ease-in-out;
    border-radius: 4px;
  }
  .stripe.stripe-middle {
    transform-origin: center center;
    transition-property: transform, opacity;
  }
  .stripe.stripe-top {
    transform-origin: top right;
  }
  .stripe.stripe-bottom {
    transform-origin: bottom right;
  }
  [data-open] .stripe-top {
    transform: rotate(-45deg);
  }
  [data-open] .stripe-middle {
    opacity: 0;
    transform: scaleX(0);
  }
  [data-open] .stripe-bottom {
    transform: rotate(45deg);
  }

  li {
    opacity: 0;
    visibility: hidden;
    transform: translateX(calc((4.5em - (var(--idx) * 1em))));
    transition-delay: calc(var(--idx) * 50ms);
    transition-timing-function: theme(transitionTimingFunction.spring-3);
    transition-duration: 500ms;
  }

  [data-open] li {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition-delay: calc((4 - var(--idx)) * 50ms);
  }
</style>
