---
title: Ben Holmes
---

include icons

section#header-section
  .header-section__picture !{toOptimizedImg({ src: './assets/images/me.jpg', alt: 'Charcoal portrait of Ben Holmes', width: 600, height: 600 })}

  .header-section__content
    h1 Ben Holmes
    ul
      li Web dev
      li UX freak
      li Blogger
      li Charcoal fan

    a.header-section__cta(href="#inbrief-section" aria-labelledby="more-about-me") 
      span(id="more-about-me") More about me
      .header-section__cta--icon
        include arrow-down-inverse.svg

.newsletter-callout__container
  section#newsletter-callout
    .newsletter-callout__heading
      h2.omit-from-toc Join the web wizardry newsletter
      include crystal-ball.svg
    p.newsletter-callout__tagline Written by a Top 500 author on dev.to
    p You'll learn <strong>universal solutions</strong> to common web developer problems, no matter your frontend framework of choice. Preview the <a href="https://tinyletter.com/bholmesdev/letters/">latest issue here</a>!
    form.newsletter-callout__input(action='https://tinyletter.com/bholmesdev' method='post' target='_blank')
      input(type="email" name="email" placeholder="fellowsorceror@webwizardry.club" aria-label="email" required)
      button(type="submit")
        | Subscribe
        +icon('send')

.line-accents-container
  #line-accents
    div
    div
    div

section#inbrief-section
  .social-links
    h2.numbered#in-brief In brief.
    a(href="https://twitter.com/bholmesdev")
      img(src="/assets/icons/twitter.svg" alt="Twitter icon")
      span Short thoughts
    a(href="https://dev.to/bholmesdev")
      img(src="/assets/icons/devto.svg" alt="DEV icon")
      span Long reads
    a(href="https://linkedin.com/in/bholmesdev")
      img(src="/assets/icons/linkedin.svg" alt="LinkedIn icon")
      span Get professional

  div
    input#switch__checkbox(type="checkbox")
    label.switch__text(for="switch__checkbox")
      span.personal Personal Mode
      span.slider
      span.recruiter Recruiter Mode

    .content__personal
      :markdown-it
        Hey there! I’m Ben, a software dev from Charleston SC, USA, learning how cold the northeast can be. You can call me a “traditional” software developer by trade given my [BS in CS](https://www.cc.gatech.edu/degree-programs/bachelor-science-computer-science) from Georgia Tech (go Jackets!). Today, I’ve channeled this technical know-how into open source web development as a full-time maintainer at [Astro](https://astro.build).

        My core values are **be caring, be clear, and be casual.** Tech is a scary industry to jump into, especially without a sense of humor to keep your head on straight. So as long as I’m a web developer, my goal is to [teach](#i-teach) and [build](#i-create) tools that help others become the best version of themselves. Well, assuming we adhere to [semantic versioning principles](https://semver.org/) 😉

    .content__recruiter
      :markdown-it
        I'm a full-time software developer at [the Astro Technology Company](https://astro.build), so I'm not looking for employment right now.

        Still, here's all my skills / buzzwords you were going to search for: **NodeJS, ES6, ReactJS, NextJS, semantic HTML, understanding of a11y, Angular 2+, SolidJS, SvelteJS, SCSS, NoSQL, OOP programming, C Basic, unit testing w/ Jest**... Okay I'm getting tired typing.

        [Just browse my LinkedIn](https://www.linkedin.com/in/bholmesdev/)

div#iteach-section(style="--section-color: var(--red)")
  section.section__summary
    h2.numbered#i-teach I teach.
    div
      p In brief...
      :markdown-it
        - Learning web dev is confusing / ever-changing and I want to help
        - Top 500 author on DEV (thx readers!)
        - Built a fullstack bootcamp with online resources + in-person workshops

  section.subsection
    - var blogPosts = [...collections.blogPost].reverse().filter(post => !post.data.omitFromHomePage)
    - var headline = blogPosts[0]
    h3.subsection__header I blog a lot.
    a.blog-post__headline.img-link(href=headline.url)
      .img-link__img-container
        | !{toOptimizedImg({ src: headline.data.image, alt: headline.data.description })}
        p.min-read
          - var minuteRead = toMinuteRead(headline.templateContent)
          - var icon = toMinReadIcon(minuteRead)
          img.mug(src=icon.src alt=icon.alt)
          span #{minuteRead} min read
      p.title #{headline.data.title}
      p.pub-date #[time(pubdate datetime=headline.data.date)= toFormattedDate(headline.data.date)]
      p.cta-link.icon-after.icon__arrow-right Get to reading
    .blog-post__container
      .blog-post__list
        a.blog-post.headline-mobile-version(href=headline.url)
            - var minuteRead = toMinuteRead(headline.templateContent)
            - var icon = toMinReadIcon(minuteRead)
            img.mug(src=icon.src alt=icon.alt)
            strong.min-read #{minuteRead} min
            span.title #{headline.data.title}
        each post in blogPosts.filter((post) => post.data.featured)
          a.blog-post(href=post.url)
            - var minuteRead = toMinuteRead(post.templateContent)
            - var icon = toMinReadIcon(minuteRead)
            img.mug(src=icon.src alt=icon.alt)
            strong.min-read #{minuteRead} min
            span.title #{post.data.title}
      a.cta-link.icon-after.icon__arrow-right(href='/blog/') Find more on my blog

  section.subsection
    h3.subsection__header I led a bootcamp.
    a.img-link(href='https://www.notion.so/gtbitsofgood/Bootcamp-b1fe164df73e42d3b9c2ab0755e4ca49')
      .img-link__img-container !{toOptimizedImg({ src: './assets/images/bootie-squad.jpg', alt: 'Group photo with bootcampers' })}
      p.cta-link.icon-after.icon__notion Browse the curriculum

    div
      :markdown-it
        I asked around the dev community to understand how people learn best, and I found a variety of approaches from written documentation to recorded code-alongs. So, I tried to make a bootcamp that was the best of _all_ worlds, incorporating video activites, written code samples, and in-person workshops to create one **mega resource** for becoming a MERN stack sorcerer 🔮

        We've been teaching this material at the [Bits of Good student org](https://bitsofgood.org) for 2 semesters now, so we've had a lot of time to work out the kinks. Click through to find our videos, resources, and project templates 100% free! A huge thanks to Andre Hijouay for creating the incredible v1 of the bootcamp, Max Karpawich for our lovely backend materials, and James Wang for contributing + teaching 😁

div#icreate-section(style="--section-color: var(--purple)")
  section.section__summary
    h2.numbered#i-create I create.
    div
      p In brief...
      :markdown-it
        - Full-time open source developer at [**Astro**](https://astro.build)
        - Framework-agnostic web developer, currently hyped for **islands architecture**
        - Social good advocate: former **Bits of Good** Director of Engineering, **Impact Labs** contributor

  section.subsection
    - var firstProject = works[0]
    input#project-details-toggle(type="checkbox" aria-label="Show project details")

    .macintosh
      img(src="/assets/svgs/macintosh.svg" alt="")
      .macintosh__img-container
        video#projects-1.visible(poster=firstProject.img.src muted autoplay loop playsinline)
          source(src=firstProject.videoSrc type="video/webm")
          source(src=firstProject.backupVideoSrc type="video/mp4")
        video#projects-2(muted autoplay loop playsinline)
          source(src='' type="video/webm")
          source(src='' type="video/mp4")
    
    label.icon-after.icon__arrow-right(for="project-details-toggle")

    h3#projects-title #{firstProject.title}
    p#projects-body !{firstProject.body}

    .projects__link-container
      #dice-container
        .outer-wrapper
          .inner-wrapper
            img(src="/assets/svgs/die-1.svg" alt="")

        .outer-wrapper.delayed
          .inner-wrapper
            img(src="/assets/svgs/die-2.svg" alt="")

      button#generate-random-project.cta-link Another random project
      a.icon-after.icon__arrow-right(href="/work") Just show me all of them