---
title: Ben Holmes
---

include icons

section#header-section
  .header-section__picture !{toOptimizedImg({ src: './assets/images/me.jpg', alt: 'Charcoal portrait of Ben Holmes', width: 600, height: 600 })}

  .header-section__content
    h1 Ben Holmes
    ul
      li Web dev
      li UX freak
      li Blogger
      li Charcoal fan

    a.header-section__cta(href="#inbrief-section" aria-labelledby="more-about-me") 
      span(id="more-about-me") More about me
      .header-section__cta--icon
        include arrow-down-inverse.svg

.newsletter-callout__container
  section#newsletter-callout
    .newsletter-callout__heading
      h2.omit-from-toc Join the web wizardry newsletter
      include crystal-ball.svg
    p.newsletter-callout__tagline Written by a Top 500 author on dev.to
    p You'll learn <strong>universal solutions</strong> to common web developer problems, no matter your frontend framework of choice. Preview the <a href="https://tinyletter.com/bholmesdev/letters/">latest issue here</a>!
    form.newsletter-callout__input(action='https://tinyletter.com/bholmesdev' method='post' target='_blank')
      input(type="email" name="email" placeholder="fellowsorceror@webwizardry.club" aria-label="email" required)
      button(type="submit")
        | Subscribe
        +icon('send')

.line-accents-container
  #line-accents
    div
    div
    div

section#inbrief-section
  .social-links
    h2.numbered#in-brief In brief.
    a(href="https://twitter.com/bholmesdev")
      img(src="/assets/icons/twitter.svg" alt="Twitter icon")
      span Short thoughts
    a(href="https://dev.to/bholmesdev")
      img(src="/assets/icons/devto.svg" alt="DEV icon")
      span Long reads
    a(href="https://linkedin.com/in/bholmesdev")
      img(src="/assets/icons/linkedin.svg" alt="LinkedIn icon")
      span Get professional

  div
    input#switch__checkbox(type="checkbox")
    label.switch__text(for="switch__checkbox")
      span.personal Personal Mode
      span.slider
      span.recruiter Recruiter Mode

    .content__personal
      :markdown-it
        I first got into software development not through algorithms, not unit testing, not objected-oriented principles... none of the hirable buzzwords. Back in high school, I was wrestling with Java concepts because _I love making shiny pixels move around on a screen._

        Back then, it was in the pursuit of inefficient, spaghetti-coded video games. Now, I've channeled a love for graphics into _**web development and design**_. I spent most of my time at Georgia Tech figuring out the sexiest frameworks to use, the most impactful way to apply my novice knowledge, and how to teach others at a beginner's level. I'm just entering the working world as an adult-in-denial, so I hope [my lessons learned along the way](https://dev.to/bholmesdev) end up helping you!

    .content__recruiter
      :markdown-it
        Sorry! I'm currently employed at [Peloton](https://onepeloton.com), so I'm not looking for a job right now.

        Still, here's all my skills / buzzwords you were going to search for: **NodeJS, ES6, ReactJS, JAMStack, NextJS, semantic HTML, understanding of a11y, Angular 2+, SvelteJS, SCSS, NoSQL, OOP programming, C Basic, unit testing w/ Jest**... Okay I'm getting tired typing.

        [Just take my resume](https://drive.google.com/file/d/1_Dix3-mAHaPVNEB2xIZeZ9RMkZRJ0A8O/view?usp=sharing)

div#iteach-section(style="--section-color: var(--red)")
  section.section__summary
    h2.numbered#i-teach I teach.
    div
      p In brief...
      :markdown-it
        - Learning web dev is confusing / ever-changing and I want to help
        - Top 500 author on DEV (thx readers!)
        - Built a fullstack bootcamp with online resources + in-person workshops

  section.subsection
    - var blogPosts = [...collections.blogPost].reverse().filter(post => !post.data.omitFromHomePage)
    - var headline = blogPosts[0]
    h3.subsection__header I blog a lot.
    a.blog-post__headline.img-link(href=headline.url)
      .img-link__img-container
        | !{toOptimizedImg({ src: headline.data.image, alt: headline.data.description })}
        p.min-read
          - var minuteRead = toMinuteRead(headline.templateContent)
          - var icon = toMinReadIcon(minuteRead)
          img.mug(src=icon.src alt=icon.alt)
          span #{minuteRead} min read
      p.title #{headline.data.title}
      p.pub-date #[time(pubdate datetime=headline.data.date)= toFormattedDate(headline.data.date)]
      p.cta-link.icon-after.icon__arrow-right Get to reading
    .blog-post__container
      .blog-post__list
        a.blog-post.headline-mobile-version(href=headline.url)
            - var minuteRead = toMinuteRead(headline.templateContent)
            - var icon = toMinReadIcon(minuteRead)
            img.mug(src=icon.src alt=icon.alt)
            strong.min-read #{minuteRead} min
            span.title #{headline.data.title}
        each post in blogPosts.filter((post) => post.data.featured)
          a.blog-post(href=post.url)
            - var minuteRead = toMinuteRead(post.templateContent)
            - var icon = toMinReadIcon(minuteRead)
            img.mug(src=icon.src alt=icon.alt)
            strong.min-read #{minuteRead} min
            span.title #{post.data.title}
      a.cta-link.icon-after.icon__arrow-right(href='/blog/') Find more on my blog

  section.subsection
    h3.subsection__header I led a bootcamp.
    a.img-link(href='https://www.notion.so/gtbitsofgood/Bootcamp-b1fe164df73e42d3b9c2ab0755e4ca49')
      .img-link__img-container !{toOptimizedImg({ src: './assets/images/bootie-squad.jpg', alt: 'Group photo with bootcampers' })}
      p.cta-link.icon-after.icon__notion Browse the curriculum

    div
      :markdown-it
        I asked around the dev community to understand how people learn best, and I found a variety of approaches from written documentation to recorded code-alongs. So, I tried to make a bootcamp that was the best of _all_ worlds, incorporating video activites, written code samples, and in-person workshops to create one **mega resource** for becoming a MERN stack sorcerer 🔮

        We've been teaching this material at the [Bits of Good student org](https://bitsofgood.org) for 2 semesters now, so we've had a lot of time to work out the kinks. Click through to find our videos, resources, and project templates 100% free! A huge thanks to Andre Hijouay for creating the incredible v1 of the bootcamp, Max Karpawich for our lovely backend materials, and James Wang for contributing + teaching 😁

div#icreate-section(style="--section-color: var(--purple)")
  section.section__summary
    h2.numbered#i-create I create.
    div
      p In brief...
      :markdown-it
        - Full-time frontend dev at **Peloton**
        - Framework-agnostic web developer, currently hyped for **SvelteJS**
        - Social good advocate: former **Bits of Good** Director of Engineering, **Impact Labs** contributor

  section.subsection
    - var firstProject = works[0]
    input#project-details-toggle(type="checkbox" aria-label="Show project details")

    .macintosh
      img(src="/assets/svgs/macintosh.svg" alt="")
      .macintosh__img-container
        video#projects-1.visible(poster=firstProject.img.src muted autoplay loop playsinline)
          source(src=firstProject.videoSrc type="video/webm")
          source(src=firstProject.backupVideoSrc type="video/mp4")
        video#projects-2(muted autoplay loop playsinline)
          source(src='' type="video/webm")
          source(src='' type="video/mp4")
    
    label.icon-after.icon__arrow-right(for="project-details-toggle")

    h3#projects-title #{firstProject.title}
    p#projects-body !{firstProject.body}

    .projects__link-container
      #dice-container
        .outer-wrapper
          .inner-wrapper
            img(src="/assets/svgs/die-1.svg" alt="")

        .outer-wrapper.delayed
          .inner-wrapper
            img(src="/assets/svgs/die-2.svg" alt="")

      button#generate-random-project.cta-link Another random project
      a.icon-after.icon__arrow-right(href="/work") Just show me all of them