---
title: Ben's Work
description: Everything I've built over the years, from JAMstack apps to Java Swing!
image: /assets/og-images/work.jpg
---

include icons

mixin video(project)
  video(preload="none" poster=project.img.src muted loop playsinline width=600 height=400)
    source(src=project.videoSrc type="video/webm")
    source(src=project.backupVideoSrc type="video/mp4")

mixin project-template(project)
  if project.headline
    a.project__headline.img-link(href='#' + project.hash data-proj-link)
      .img-link__img-container
        +video(project)
        
      h3 #{project.title}
      p.timeframe #{project.timeframe}

      each tag in project.tags
        short.tag #{tag}
  else
    a.project__small(href='#' + project.hash data-proj-link)
      img(src=project.img.src, alt=project.img.alt)
      h3 #{project.title}
      p.timeframe #{project.timeframe}

      .tags
        each tag in project.tags
          short.tag #{tag}

section#ongoing-section(style="--section-color: var(--green)")
  h2.numbered#ongoing-works Ongoing works
  p.tagline
    :markdown-it(inline)
      I've been going all-in on [JAMstack apps](https://jamstack.org) this past year. My foray into [Svelte + Sapper](https://sapper.svelte.dev) was easily my favorite venture; it's just so much simplier than React in my opinion. Also, my heavy frontend focus gave me some [valuable CSS learnings](https://dev.to/bholmesdev/flexbox-diehards-here-s-some-concrete-examples-of-when-css-grid-is-just-better-n7k)!

  .grid
    each project in works.filter(work => work.category === 'ongoing')
      +project-template(project)

section#complete-section(style="--section-color: var(--red)")
  h2.numbered#complete-works Complete works
  p.tagline
    :markdown-it(inline)
      I've touched a lot of CS corners these past few years. Web tech was definitely a theme, but I never settled on any frontend framework in particular (Angular's the worst one though 😛). I also found some time for games, whether it be a [virtual tennis match](#32-bit-rackets) or [real life roomba bowling](#roombowling)!

  .grid
    each project in works.filter(work => work.category === 'completed')
      +project-template(project)

#details-slide-out
  each project, index in works
    article(id=project.hash)
      .content
        .macintosh
          h2.omit-from-toc #{project.title}
          img(src="/assets/svgs/macintosh.svg" alt="")
          .macintosh__img-container
            +video(project)

        p.timeframe #{project.timeframe}
        .tags
          each tag in project.tags
            .tag #{tag}

        each link in project.links
          a.link(href=link.href)
            +icon(link.icon)
            span #{link.text}

        p.body !{project.body}
  .background
  nav
    a#close-btn(href="#" aria-label="Close project slide out window")
      +icon('close')
