---
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/ranga/400.css";
import "@fontsource/ranga/700.css";
import ranga400url from "@fontsource/ranga/files/ranga-latin-400-normal.woff2?url";
import ranga700url from "@fontsource/ranga/files/ranga-latin-700-normal.woff2?url";
import atkinson400url from "@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-400-normal.woff2?url";
import atkinson700url from "@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-700-normal.woff2?url";
import Nav from "../components/Nav.astro";
import type { MarkdownHeading } from "astro";
import ScrollableBody from "../components/ScrollableBody.astro";

type Props = {
  title?: string;
  headings?: MarkdownHeading[];
};
const { title = "Ben Holmes", headings } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="/fonts/Sriracha-Regular.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href={atkinson400url}
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href={atkinson700url}
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href={ranga400url}
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href={ranga700url}
      as="font"
      crossorigin="anonymous"
    />
    <slot name="head" />
    <title>{title}</title>
  </head>
  <ScrollableBody>
    <Nav headings={headings} />
    <slot />
  </ScrollableBody>

  <style is:global>
    @import "open-props/easings";
    @import "../fonts.css";

    :root {
      --green: #24ac6c;
      --red: #f3270b;
      --purple-hs: 263.1 100%;
      --purple: hsl(var(--purple-hs) 50%);
      --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
      --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
      --font-size-lg: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
      --font-size-xl: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
      --font-size-2xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
      --font-size-3xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
      --font-size-4xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

      --font-heading: "Ranga", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;

      --font-body: "Atkinson Hyperlegible", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;

      --bg: var(--surface-1);
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --purple: hsl(var(--purple-hs) 57%);
      }
    }

    a,
    a:visited {
      color: var(--accent);
      text-decoration: dotted underline;
    }

    h1,
    h2,
    h3 {
      font-family: theme(fontFamily.heading);
    }

    ul,
    button {
      font-family: theme(fontFamily.body);
    }
  </style>
</html>
