---
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/ranga/400.css";
import "@fontsource/ranga/700.css";
import "open-props/easings";
import "./tailwind.css";
import ranga400url from "@fontsource/ranga/files/ranga-latin-400-normal.woff2?url";
import ranga700url from "@fontsource/ranga/files/ranga-latin-700-normal.woff2?url";
import atkinson400url from "@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-400-normal.woff2?url";
import atkinson700url from "@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-700-normal.woff2?url";
import Nav from "../components/Nav.astro";
import type { MarkdownHeading } from "astro";
import { ViewTransitions } from "astro:transitions";

type Props = {
  title?: string;
  headings?: MarkdownHeading[];
};
const { title = "Ben Holmes", headings } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href={atkinson400url}
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href={atkinson700url}
      as="font"
      crossorigin="anonymous"
    />
    <link rel="preload" href={ranga400url} as="font" crossorigin="anonymous" />
    <link rel="preload" href={ranga700url} as="font" crossorigin="anonymous" />
    <slot name="head" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-950 text-white text-base">
    <Nav headings={headings} />
    <slot />
    <style is:global>
      :root {
        --purple-hs: 263.1 100%;
        --purple: hsl(var(--purple-hs) 50%);
        --purple-light: hsl(var(--purple-hs) 80%);
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --purple: hsl(var(--purple-hs) 57%);
        }
      }

      h1,
      h2,
      h3 {
        font-family: var(--font-family-heading);
      }

      button {
        cursor: pointer;
      }
    </style>
  </body>
</html>
