<!DOCTYPE html>
html(lang="en-US")
  head
    title #{meta.title}
    link(rel="stylesheet" href="styles.css")
    link(rel="preload" href="https://use.typekit.net/liz3dnm.css" as="style")
    link(rel="stylesheet" href="https://use.typekit.net/liz3dnm.css")
    link(rel="icon" type="img/jpg" href="favicon.jpg")
    meta(name='viewport' content='width=device-width,initial-scale=1.0')

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@bholmesdev")
    meta(name="twitter:creator" content="@bholmesdev")
    meta(property="og:url" content='https://bholmes.dev' + routeUrl)
    meta(property="og:image" content='https://bholmes.dev' + meta.imageSrc)
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(property="og:site_name" content="Ben Holmes")
    meta(property="og:title" content=meta.title)
    meta(property="og:description" content=meta.description)

  body
    nav#site-navigation
      ul#jump-to-sections.mobile

      button#jump-to-section-toggle.mobile
        span 0
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M128 192l128 128 128-128z"/></svg>

      p#current-section.mobile

      ul#primary-nav
        li
          a(href="/" class=routeName === 'index' ? 'active' : '') Me
        li
          a(href="/work" class=routeName === 'work' ? 'active' : '') Work
        li
          a(href="https://dev.to/bholmesdev") Blog
        li
          a(href="/contact" class=routeName === 'contact' ? 'active' : '') Contact

      button#primary-nav-toggle.mobile
        .stripe-top
        .stripe-middle
        .stripe-bottom
        
      #dashed-line-container
        div

    each page in pages
      main(data-route=page.routeName, hidden=routeName !== page.routeName) !{page.html}

  script(src="bundle.js")